body {
	font-family: sans-serif;
 	background: #505050;
 	width: 100%;
 	margin:0 auto;
}

#Header {
	background: white;
	padding: 20px;
}

#sidebar {
	float: right;
	height: 100%;
	background: blue;
}

.tweetstream {
	float: left;
	width: 70%;
	background: red;
	padding: 20px;
	display: inline;
}

button {
	font-size: 20px;
	width: 200px;
	background: yellow;
}